.block {
    display: inline-block;
}

#users {
    height: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.with-icon .icon {
    top: 5px;
    bottom: 5px;
}

.button-status {
    cursor: default;
}

.inline-heading {
    display: inline;
}

.middle {
    vertical-align: middle;
}

.button-inline {
    display: inline;
}


.pad1yr {
    padding-right: 10px;
}

.comment-user {
    font-weight: bold;
}

.comment-last {
    font-size: 14px;
    padding-left: 4px;
}

.pad1rt {
    padding-right: 10px;
    padding-top: 4px;
}

.blurb {
    overflow: hidden;
    text-overflow: ellipsis;
}

.close {
    cursor: pointer;
}

@media only screen and (max-width:1060px) {
    #filters {  min-width: 230px;}
}

@media only screen and (max-width:710px) {
    .searchInputContainer {
        position: relative;
        clear: both;
        padding-top: 20px;
    }
    #users {
        width: 100%;
    }
}

#footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #fff;
}