.block {
    display: inline-block;
}

#users {
    height: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.with-icon .icon {
    top: 5px;
    bottom: 5px;
}

.button-status {
    cursor: default;
}

.inline-heading {
    display: inline;
}

.middle {
    vertical-align: middle;
}

.button-inline {
    display: inline;
}


.pad1yr {
    padding-right: 10px;
}